.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  width: 430px;
  margin: 20px;
  height: 456px;
  background-color: #5d5bcf;
  border-radius: 10px;
  text-align: center;
}
