.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 330px;
  height: 330px;
  background: linear-gradient(#5d5bcf, #2f2e69);
  border-radius: 10px;
  text-align: center;
  margin-top: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}

#cardForm {
  max-width: 1500px;
  margin-top: 1em;
  margin-top: 20px;
  height: 456px;
  border-radius: 10px;
  text-align: center;

  display: flex;
  justify-content: center;
}

#bodyCards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 5px;
}

input {
  width: 700px;
  height: 50px;
  border-radius: 10px;
  border: none;
  padding: 10px;
  margin: 10px;
  /*background: linear-gradient(#5d5bcf, #2f2e69);*/
  opacity: 0.8;
  color: white;
}

input::placeholder {
  color: white;
  font-size: 1em;
  font-weight: 500;
}

#publish {
  width: 200px;
  margin: 20px;
  height: 36px;
  background: linear-gradient(#5d5bcf, #2f2e69);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

#publish:hover {
  border-color: #1d1a3d;
  background: linear-gradient(#2f2e69, #5d5bcf);
  transition: 2s;
}

.image {
  width: 300px;
  height: 150px;
  background-color: #d9d9d9;
  margin-top: 10px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWFlhKFjAMNnU67i93c_MQgvlMhVG6kjf9ReXMAhGTvg&s&ec=72940545);
}

.changes {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  padding: 10px;
}

.changes button {
  background: #242424;
  border: none;
  border-radius: 5px;
}

.changes button:hover {
  background: linear-gradient(#5d5bcf, #2f2e69);
  border: none;
  border-radius: 5px;
}

h3 {
  width: 300px;
  height: 30px;
  background: linear-gradient(#4d40ff, #2e2699);
  text-align: center;
  margin: 10px;
}
