.tabs {
  background: #242424;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.active-tabs {
  background: linear-gradient(#5d5bcf, #2f2e69);
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  max-width: 1500px;
  height: 5px;
  background-color: #4d40ff;
  margin-bottom: 5px;
  transform: translateX(-50%);
}

.active-content {
  max-width: 1500px;
  display: block;
}

.content {
  display: none;
  max-width: 1500px;
  height: auto;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content-tabs {
  max-width: 1500px;
  height: 100%;
}

.container {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  margin-top: 2em;
}

.containerActive {
  max-width: 1050px;
  width: 1500px;
  height: 710px;
  background: linear-gradient(#4d40ff, #2e2699);
  border-radius: 10px;
}

.containerProfile {
  max-width: 430px;
  width: 430px;
  height: 710px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#4d40ff, #2e2699);
  border-radius: 10px;
}

.profilePicture {
  width: 170px;
  height: 150px;
  background-color: #1a1a1a;
  border-radius: 100%;
}

.infospProfile {
  width: 300px;
  height: 345px;
  background-color: #1a1a1a;
}

.bloc-tabs {
  position: absolute;
  top: 155px;
  background: #4d40ff;
}

h2 {
  margin: 0px;
  padding: 2em;
}
