#Navbar {
  background: linear-gradient(#4d40ff, #2e2699);
  max-width: 1500px;
  height: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 3em;
}

#logo {
  width: 102px;
  height: 85px;
  padding: 1.5em;
}

.login {
  width: 100px;
  height: 90px;
  border-radius: 100%;
  border: 1px solid transparent;
  padding: 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.new {
  width: 100px;
  height: 90px;
  border-radius: 100%;
  border: 1px solid transparent;
  padding: 20px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
