.logOut {
  width: 200px;
  margin: 20px;
  height: 36px;
  background: linear-gradient(#5d5bcf, #2f2e69);
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.logOut:hover {
  border-color: #1d1a3d;
  background: linear-gradient(#2f2e69, #5d5bcf);
  transition: 2s;
}
